%div
  %h1
    GitLab
    Enterprise Edition
    - if user_signed_in?
      %span= Gitlab::VERSION
      %small= link_to Gitlab::REVISION, Gitlab::COM_URL + namespace_project_commits_path('gitlab-org', 'gitlab-ee', Gitlab::REVISION)
      - if current_application_settings.version_check_enabled
        = version_status_badge
  %br
    Read more about GitLab at #{link_to promo_host, promo_url, target: '_blank', rel: 'noopener noreferrer'}.
  - if current_application_settings.help_text.present?
    %hr
    %p.slead
      = markdown(current_application_settings.help_text)
  - else
    %p.slead
      GitLab is open source software to collaborate on code.
      %br
      Manage git repositories with fine grained access controls that keep your code secure.
      %br
      Perform code reviews and enhance collaboration with merge requests.
      %br
      Each project can also have an issue tracker and a wiki.
      %br
      Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.

    - if current_application_settings.help_page_text.present?
      %hr
      = markdown_field(current_application_settings, :help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = markdown(@help_index)
  .col-md-4
    .panel.panel-default
      .panel-heading
        Quick help
      %ul.well-list
        %li= link_to 'See our website for getting help', promo_url + '/getting-help/'
        %li= link_to 'Use the search bar on the top of this page', '#', onclick: 'Shortcuts.focusSearch(event)'
        %li= link_to 'Use shortcuts', '#', onclick: 'Shortcuts.toggleHelp()'
        %li= link_to 'Get a support subscription', 'https://about.gitlab.com/pricing/'
        %li= link_to 'Compare GitLab editions', 'https://about.gitlab.com/features/#compare'
